/*  light blue color style    */
.preloader .loader i,
.fa-music,
.people-section .people-item-inner .social-link a i,
.event-section .event-item-inner span,
.story-section .story-item i,
.story-section .story-text h3,
.couple-section .social-link a i,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
.header .nav ul li a.active,
.header .nav ul li a:hover {
    color: #3e99f4;
}

.fa-music,
.people-section .people-item-inner .social-link a i,
.event-section .event-item-inner::before,
.couple-section .social-link a i,
.couple-section .couple img {
    border-color: #3e99f4;
}

.preloader .loader::before {
    border-right-color: #3e99f4;
}

.fa-music.pause::after,
.countdown-section,
.people-section .people-item-inner .social-link a:hover i,
.people-section .people-filter .filter-btn.active,
.event-section,
.couple-section .social-link a:hover i {
    background-color: #3e99f4;
}